@model IEnumerable<LessonModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var weekNames = new List<String>
{
        "Понедельник",
        "Вторник",
        "Среда",
        "Четверг",
        "Пятница",
        "Суббота"
    };
    ViewData["Title"] = "CheckData";
}
<h1>Lessons</h1>
<div>
    <table class="table-style">
        <tr>
            <td class="td-style">id</td>
            <td class="td-style">Время</td>
            <td class="td-style">Пара</td>
            <td class="td-style">Кабинет</td>
            <td class="td-style">День недели</td>
            <td class="td-style">Недели</td>
            <td class="td-style">Преподаватель</td>
            <td class="td-style">Курс</td>
            <td class="td-style">Факультет</td>
            <td class="td-style">Проф. подготовки</td>
        </tr>
        @{
            foreach (var less in Model)
            {
                <tr class="tr-style">
                    <td class="td-style">@less.LessonId</td>
                    <td class="td-style">
                        @less.LessonInfo.StartTime.ToString("HH:mm") <br />
                        @less.LessonInfo.EndTime.ToString("HH:mm")
                    </td>
                    <td class="td-style">@less.LessonInfo.LessName</td>
                    <td class="td-style">@less.LessonInfo.AuditionNum</td>
                    <td class="td-style">@weekNames[less.LessonInfo.DayWeek]</td>
                    <td class="td-style">@less.LessonInfo.WeekDateNumbers</td>
                    <td class="td-style">@less.Teacher.FirstName[0]. @less.Teacher.LastName[0]. @less.Teacher.MiddleName</td>
                    <td class="td-style">@less.Group.Cours</td>
                    <td class="td-style">@less.Group.Faculty</td>
                    <td class="td-style">@less.Group.TeachProfile</td>
                </tr>
            }
        }
    </table>
</div>
<h1>Teachers</h1>
<div>
    <table class="table-style">
        <tr>
            <td class="td-style">id</td>
            <td class="td-style">Фамилия</td>
            <td class="td-style">Имя</td>
            <td class="td-style">Отчество</td>
        </tr>
        @{
            foreach (var el in ViewBag.Teachers)
            {
                <tr>
                    <td class="td-style">@el.TeacherId</td>
                    <td class="td-style">@el.LastName</td>
                    <td class="td-style">@el.FirstName</td>
                    <td class="td-style">@el.MiddleName</td>
                </tr>

            }
        }
    </table>
</div>
<h1>Groups</h1>
<div>
    <table class="table-style">
        <tr>
            <td class="td-style">id</td>
            <td class="td-style">Профиль</td>
            <td class="td-style">Курс</td>
            <td class="td-style">Факультет</td>
        </tr>
        @{
            foreach (var el in ViewBag.Groups)
            {
                <tr>
                    <td class="td-style">@el.GroupId</td>
                    <td class="td-style">@el.TeachProfile</td>
                    <td class="td-style">@el.Cours</td>
                    <td class="td-style">@el.Faculty</td>
                </tr>
            }
        }
    </table>
</div>
<h1>Informations</h1>
<div>
    <table class="table-style">
        <tr>
            <td class="td-style">id</td>
            <td class="td-style">Предмет</td>
            <td class="td-style">Кабинет</td>
            <td class="td-style">День</td>
            <td class="td-style">Недели</td>
            <td class="td-style">Начало</td>
            <td class="td-style">Конец</td>
        </tr>
        @{
            foreach (var el in ViewBag.Informations as IEnumerable<LessonInfoModel>)
            {
                <tr>
                    <td class="td-style">@el.LessonInfoId</td>
                    <td class="td-style">@el.LessName</td>
                    <td class="td-style">@el.AuditionNum</td>
                    <td class="td-style">@el.DayWeek</td>
                    <td class="td-style">@el.WeekDateNumbers</td>
                    <td class="td-style">@el.StartTime.ToString("HH:mm")</td>
                    <td class="td-style">@el.EndTime.ToString("HH:mm")</td>
                </tr>
            }
        }
    </table>
</div>


<div class="form" style="margin-bottom: 10px;">
    <h4>Удалить группу</h4>
    <div>
        <form method="post" asp-action="DeleteGroup" asp-controller="Data">
            <select class="set-width custom-select" name="id">
                @{
                    foreach (var group in ViewBag.Groups as IEnumerable<GroupModel>)
                    {
                        <option value="@group.GroupId">
                            @group.GroupId @group.Cours @group.Faculty @group.TeachProfile
                        </option>
                    }
                }
            </select>
            <input class="btn btn-outline-dark" type="submit" value="Удалить!" />
        </form>
    </div>
</div>


<div class="form" style="margin-bottom: 10px;">
    <h4>Удалить преподавателя</h4>
    <div>
        <form method="post" asp-action="DeleteTeacher" asp-controller="Data">
            <select class="set-width custom-select" name="id">
                @{
                    foreach (var teacher in ViewBag.Teachers as IEnumerable<TeacherModel>)
                    {
                        <option value="@teacher.TeacherId">
                            @teacher.TeacherId @teacher.LastName @teacher.FirstName @teacher.MiddleName
                        </option>
                    }
                }
            </select>
            <input class="btn btn-outline-dark" type="submit" value="Удалить!" />
        </form>
    </div>
</div>

<div class="form" style="margin-bottom: 10px;">
    <h4>Удалить информацию о предмете</h4>
    <div>
        <form method="post" asp-action="DeleteInformation" asp-controller="Data">
            <select class="set-width custom-select" name="id">
                @{
                    foreach (var lessInfo in ViewBag.Informations as IEnumerable<LessonInfoModel>)
                    {
                        <option value="@lessInfo.LessonInfoId">
                            @lessInfo.LessonInfoId @lessInfo.LessName @lessInfo.AuditionNum @lessInfo.DayWeek
                        </option>
                    }
                }
            </select>
            <input class="btn btn-outline-dark" type="submit" value="Удалить!" />
        </form>
    </div>
</div>